{% extends "site_base.html" %}
{% load i18n %}
{% load jsonify %}
{% block head_title %}{% trans "Editor" %}{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/editor.css"/>

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

        .row-fluid {
            margin-left: -10px;
        }

        .sidebar-nav {
            padding: 2px 0;
        }
    </style>

    <!-- Load the graphiti core library with the $LAB package manager -->
    <script>
        // set the absolute or relative path for the graphiti JS loader
        // this must happen before you include "graphiti.js"
        var graphitiPath = '{{ STATIC_URL }}';

        // load the blockmap queryset into a json object for loading later
        var blmap =
        {{ blockmap.json|jsonify }}

    </script>

    <SCRIPT src="{{ STATIC_URL }}lib/LAB.min.js"></SCRIPT>
    <SCRIPT src="{{ STATIC_URL }}src/graphiti.js"></SCRIPT>


    <script type="text/javascript">

        //the document to load....in this case a simple JSON Object that we loaded earlier
        var jsonDocument = blmap;
        // var jsonDocument = [
        //     {
        //         "type":"graphiti.shape.basic.Oval",
        //         "id":"5b4c74b0-96d1-1aa3-7eca-bbeaed5fffd7",
        //         "x":237,
        //         "y":237,
        //         "width":93,
        //         "height":38
        //     },
        //     {
        //         "type":"graphiti.shape.basic.Rectangle",
        //         "id":"354fa3b9-a834-0221-2009-abc2d6bd852a",
        //         "x":225,
        //         "y":97,
        //         "width":201,
        //         "height":82,
        //         "radius":2
        //     },
        //     {
        //         "type":"graphiti.shape.basic.Rectangle",
        //         "id":"ebfb35bb-5767-8155-c804-14bda7759dc2",
        //         "x":72,
        //         "y":45,
        //         "width":50,
        //         "height":50,
        //         "radius":2
        //     },
        //     {
        //         "type":"graphiti.shape.analog.OpAmp",
        //         "id":"ebfb35bb-5767-8155-c804-14bd48789dc2",
        //         "x":471,
        //         "y":157,
        //         "width":100,
        //         "height":100,
        //         "radius":2
        //     }
        // ];


        //Called from graphiti if everything is loaded
        function graphitiLoaded() {

            // create the canvas for the user interaction
            var canvas = new graphiti.Canvas("gfx_holder");

            // unmarshal the JSON document into the canvas
            var reader = new graphiti.io.json.Reader();
            reader.unmarshal(canvas, jsonDocument);

            // display the JSON document in the preview DIV
            displayJSON(canvas);

            // add an event listener to the Canvas for change notifications.
            // We just dump the current canvas document into the DIV
            canvas.getCommandStack().addEventListener(function (e) {
                if (e.isPostChangeEvent()) {
                    displayJSON(canvas);
                }
            });
        }
        ;

        function displayJSON(canvas) {
            var writer = new graphiti.io.json.Writer();
            $("#json").text(JSON.stringify(writer.marshal(canvas), null, 2));
        }

    </script>
{% endblock %}

{% block body_class %}editor{% endblock %}

{% block body %}

    {% block content %}
        {% if user.is_authenticated %}
            <div class="row-fluid">
            <div id="sidebar" class="span1">{% include "_sidebar.html" %}</div>
            <div class="span11">
                <div id="gfx_holder"
                     style="width:1198px; height:1198px;-webkit-tap-highlight-color: rgba(0,0,0,0); "></div>
                <pre id="json"
                     style="overflow:auto;position:absolute; top:50px; right:0px; width:250; height:350;background:white;border:1px solid gray">
                </pre>
            </div>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
                <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}

    {% endblock content %}
<!-- setup our save call -->
<script language="text/javascript">
    $(document).ready(function () {
        $('#YOUR_FORM').submit(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data:$(this).serialize(), // get the form data
                type:$(this).attr('method'), // GET or POST
                url:$(this).attr('action'), // the file to call
                success:function (response) {
                    //$(#DIV_for_FORM).html(response);
                }
            });
            return false;
        });
    });
</script>
{% endblock %}