{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% block body_class %}editor{% endblock %}


{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/editor.css"/>

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

        .row-fluid {
            margin-left: -10px;
        }

        .sidebar-nav {
            padding: 2px 0;
        }
    </style>
{% endblock %}

{% block body %}

    {% block content %}
        <div class="well span9">
            <form class="form-horizontal" method="POST">
                <legend>Add BlockMap</legend>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <a href="#back" class="btn">Go back</a>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    {% endblock %}
{% endblock %}