/* Generic context menu styles */
.contextMenu {
        position: absolute;
        z-index: 9999999;
        border: solid 1px #CCC;
        background: #EEE;
        padding: 0px;
        margin: 0px;
        display: none;
        background-repeat: no-repeat;
}

.contextMenu LI {
        list-style: none;
        padding: 0px;
        margin: 0px;
}

.contextMenu a {
        color: #333;
        text-decoration: none;
        display: block;
        line-height: 20px;
        height: 20px;
        background-position: 6px center;
        background-repeat: no-repeat;
        outline: none;
        padding: 1px 5px;
        padding-left: 28px;
}

.contextMenu LI.hover, .contextMenu LI.hover A {
        color: #FFF;
        background-color: #3399FF;
}

.contextMenu LI.hover.disabled, .contextMenu LI.disabled A {
        color: #AAA;
        cursor: default;
}

.contextMenu LI.hover.disabled, .contextMenu LI.hover.disabled A {
        background-color: transparent;
}

.contextMenu LI.separator {
        border-top: solid 1px #CCC;
}