{% load account_tags %}
<ul class="nav" role="navigation">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a id="menu_file" href="#" role="button" class="dropdown-toggle" data-toggle=
                    "dropdown" name="menu_file">File</a>

            <ul class="dropdown-menu" role="menu">
                <li><a tabindex="-1" class="menu_new" href="#">New</a></li>
                <li><a tabindex="-1" class="menu_open" rel="external" href="/workbench/">Open</a></li>
                <li><a tabindex="-1" class="menu_save" href="#">Save</a></li>
                <li><a tabindex="-1" class="menu_link_and_share ignore_touch" rel="external" href=
                        "#">Link &amp; Share</a></li>
                <li><a tabindex="-1" class="menu_access_control_settings ignore_touch" rel="external"
                       href="#">Access Control Settings</a></li>
                <li><a tabindex="-1" class="menu_export_pdf" href="#">Print/Export PDF</a></li>
                <li><a tabindex="-1" class="menu_export_png" href="#">Export PNG</a></li>
                <li class='divider'></li>
                <li><a tabindex="-1" href="/">Close</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a id="menu_edit" href="#" role="button" class="dropdown-toggle" data-toggle=
                    "dropdown" name="menu_edit">Edit</a>

            <ul class="dropdown-menu">
                <li><a class="menu_undo" href="#">Undo</a></li>
                <li><a class="menu_delete" href="#">Delete</a></li>
                <li><a class="menu_cut" href="#">Cut</a></li>
                <li><a class="menu_copy" href="#">Copy</a></li>
                <li><a class="menu_paste" href="#">Paste</a></li>
                <li><a class="menu_zoom_in" href="#">Zoom In</a></li>
                <li><a class="menu_zoom_out" href="#">Zoom Out</a></li>
                <li><a class="menu_zoom_to_fit" href="#">Zoom to Fit</a></li>
                <li><a class="menu_select_all" href="#">Select All</a></li>
                <li><a href="#">Select None </a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a id="menu_run" href="#" role="button" class="dropdown-toggle" data-toggle=
                    "dropdown" name="menu_run">Run</a>

            <ul class="dropdown-menu">
                <li><a class="menu_run_stages" href="#">Run Stages</a></li>
                <li><a class="menu_run_last" href="#">Run Last Stage</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a id="menu_help" href="#" role="button" class="dropdown-toggle" data-toggle=
                    "dropdown" name="menu_help">Help</a>

            <ul class="dropdown-menu ignore_touch">
                <li><a rel="external" class="menu_documentation" href="/docs/">Documentation</a></li>
                <li><a rel="external" class="menu_examples" href="/examples/">Examples</a></li>
                <li><a rel="external" class="menu_share" href="/about/share/">Share Avalanche</a></li>
                <li><a rel="external" class="menu_about" href="/about/">About Avalanche</a></li>
            </ul>
        </li>
    {% endif %}
</ul>