<div class="well well-small sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Add</li>
        <li><a href="#">Block</a></li>
        <li><a href="#">Bipe</a></li>
        <li><a href="#">Dataset</a></li>
        <li class='divider'></li>
        <li class="nav-header">Edit</li>
        <li><a href="#">Block</a></li>
        <li><a href="#">Pipe</a></li>
        <li><a href="#">Dataset</a></li>
        <li class='divider'></li>
        <li class="nav-header">Delete</li>
        <li><a href="#">Block</a></li>
        <li><a href="#">Pipe</a></li>
        <li><a href="#">Dataset</a></li>
    </ul>
</div>