{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/editor.css"/>

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

        .row-fluid {
            margin-left: -10px;
        }

        .sidebar-nav {
            padding: 2px 0;
        }
    </style>

    <!-- Load the graphiti core library with the $LAB package manager -->
    <script>
        // set the absolute or relative path for the graphiti JS loader
        // this must happen before you include "graphiti.js"
        //
        var graphitiPath = "site_media/static/";
    </script>

    <SCRIPT src="{{ STATIC_URL }}lib/LAB.min.js"></SCRIPT>
    <SCRIPT src="{{ STATIC_URL }}src/graphiti.js"></SCRIPT>


    <script type="text/javascript">

        // the document to load....in this case a simple JSON Object
        var jsonDocument =
                [
                    {
                        "type":"graphiti.shape.node.Start",
                        "id":"354fa3b9-a834-0221-2009-abc2d6bd852a",
                        "x":25,
                        "y":97,
                        "width":50,
                        "height":50,
                        "radius":2
                    },
                    {
                        "type":"graphiti.shape.node.Between",
                        "id":"ebfb35bb-5767-8155-c804-abc2d6ad832a",
                        "x":27,
                        "y":45,
                        "width":50,
                        "height":50,
                        "radius":2
                    },
                    {
                        "type":"graphiti.shape.node.End",
                        "id":"ebfb35bb-5767-8155-c804-14bda7759dc2",
                        "x":272,
                        "y":45,
                        "width":50,
                        "height":50,
                        "radius":2
                    },
                    {
                        "type":"graphiti.Connection",
                        "id":"74ce9e7e-5f0e-8642-6bec-4ff9c54b3f0a",
                        "source":{
                            "node":"354fa3b9-a834-0221-2009-abc2d6bd852a",
                            "port":"output0"
                        },
                        "target":{
                            "node":"ebfb35bb-5767-8155-c804-14bda7759dc2",
                            "port":"input0"
                        }
                    }
                ];

        //Called from graphiti if everything is loaded
        //
        function graphitiLoaded() {

            // create the canvas for the user interaction
            //
            var canvas = new graphiti.Canvas("gfx_holder");

            // unmarshal the JSON document into the canvas
            // (load)
            var reader = new graphiti.io.json.Reader();
            reader.unmarshal(canvas, jsonDocument);

            // display the JSON document in the preview DIV
            //
            displayJSON(canvas);

            // add an event listener to the Canvas for change notifications.
            // We just dump the current canvas document into the DIV
            //
            canvas.getCommandStack().addEventListener(function (e) {
                if (e.isPostChangeEvent()) {
                    displayJSON(canvas);
                }
            });
        }
        ;

        function displayJSON(canvas) {
            var writer = new graphiti.io.json.Writer();
            $("#json").text(JSON.stringify(writer.marshal(canvas), null, 2));
        }

    </script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

    {% block content %}
        {% if user.is_authenticated %}
            <div class="row-fluid">
            <div id="sidebar" class="span1">{% include "_sidebar.html" %}</div>
            <div class="span11">
                <div id="gfx_holder"
                     style="width:1198px; height:1198px;-webkit-tap-highlight-color: rgba(0,0,0,0); "></div>
                <pre id="json"
                     style="overflow:auto;position:absolute; top:50px; right:0px; width:250; height:350;background:white;border:1px solid gray">
                </pre>
            </div>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
                <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}
    {% endblock content %}

{% endblock %}
