{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% block content %}
            <div class="content row-fluid" style="cursor: default;">
                <div id="sidebar" class="span1">{% include "_sidebar.html" %}</div>
                <div id="bench" class="span11">
                    <canvas id="cvs" width="941px" height="941px">
                        <canvas/>
                </div>
                <script src="{{ STATIC_URL }}js/canvasgrid.js"></script>
                <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
                <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
                <script>
                    $("document").ready(function () {
                        drawCvs()
                    });
                </script>
            </div>
        {% endblock content %}
    {% else %}
        {% url account_login as login_url %}
        {% url account_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
            <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
